*{
    padding: 0;
    margin: 0;
}

.status_container{
    width: 80%;
    margin: 0 auto;

}

.status_list{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 1px;
    background-color: white;
    box-shadow: 0 1px 2px rgb(198, 198, 198);
}

.status{
    text-decoration: none;
    background-color: rgb(255, 255, 255);
    text-align: center;
    padding: 15px 0;
    color: black;
    transition: color 0.3s ease;
}

.status_list{
    position: sticky;
    top: 80px;
}

.active{
    color: orangered;
    border-bottom: 2px solid orangered;
}

.status:hover{
    color: orangered;
}

@media only screen and (max-width: 768px){
    .status_container{
        width: 100%;
    }
    .status_list{
        width: auto;
        scrollbar-width: auto;
        display: flex;
        overflow-x: auto;
    }
    .status{
        white-space: nowrap;
        padding: 16px;
    }
}