.checkoutContainer {
    display: flex;
    gap: 10px;
    padding: 30px;
    background: #f5f5f5;
    max-width: 1200px;
    margin: auto;
}

/* CARD CHUNG */
.infoproduct, .form_item_checkout {
    background: #fff;
    border-radius: 7px;
    padding: 20px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.06);
}

.infoproduct{
    width: 60%;
}

.form{
    flex: 1;
}

/* TITLE */
.infoproduct h1,
.form h1 {
    font-size: 20px;
    margin-bottom: 15px;
    font-weight: 600;
}

/* TEXT */
.infoproduct p {
    margin: 6px 0;
    font-size: 15px;
}

/* INPUT */
.form input,
.form textarea {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 16px;
    transition: 0.2s;
    resize: vertical;
    font-family: Arial, Helvetica, sans-serif;
}

.form input:focus,
.form textarea:focus {
    border-color: #ff5722;
    outline: none;
    box-shadow: 0 0 0 2px rgba(255,87,34,0.1);
}



/* RADIO STYLE XỊN */
.form input[type="radio"] {
    accent-color: #ff5722;
    transform: scale(1.2);
    width: fit-content;
}

.tieudepttt{
    margin: 15px 0;
}

.label_pttt{
    width: 100%;
}


.khoipttt{
    border: 1px solid rgb(234, 234, 234);
    padding: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.khoipttt div{
    display: flex;
    justify-content: space-between;

}


/* BUTTON */
.form button {
    background-color: white;
    width: 100%;
    padding: 14px;
    border: none;
    border-radius: 7px;
    background: linear-gradient(135deg, #ff5722, #ff784e);
    color: white;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
}

.form button:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 20px rgba(255,87,34,0.3);
}

.product_list_checkout{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.checkout_title{
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
}

.checkout_title h1{
    font-weight: 100;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkout_item div, .checkout_item p{
    display: flex;
    justify-content: center;
}

.checkout_item{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    gap: 10px;
    box-shadow:0 1px 3px rgb(180, 180, 180);
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
}

.checkout_item:hover{
    opacity: 0.9;
}

.price_checkout{
    color: orangered;
}

.name_checkout{
    font-weight: 100;
}

.image_checkout{
    width: fit-content;
    padding: 0;
}

.img_checkout{
    width: 80px; 
    height: 80px;
    object-fit: cover;
    border-radius: 5px;
    margin: 5px;
    border: 1px solid green;
}


.khoitongtien{ 
    font-size: 16px;
    gap: 5px;
    flex: 1;
}

.khoitongtien span{
    color: orangered;
    font-weight: bold;
}

.form_item_checkout{
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.khoidathang{
    background-color: white;
    padding: 10px 20px;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
}

@media (max-width: 768px) {
    .checkoutContainer {
        padding: 0;
        flex-direction: column;
        gap: 7px;
    }

    .infoproduct, .form {
        width: 100%;
    }
    .btndathang{
        position: sticky;
        bottom: 10px;
        border-radius: 0;
    }

    .khoidathang{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    position: sticky;
    bottom: 0;
    left: 0;
    border: 1px solid rgb(238, 238, 238);
    right: 0;
    background-color: white;
    padding: 5px;
}

}