* {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80px;
    background-color: #ff4500;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1000;
    box-shadow: 0 1px 2px rgb(205, 205, 205);
}

.hihi {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: right;
    gap: 10px;
    position: relative;
}

.hihi h5{
    color: white;
}

.thaotac {
    min-width: 200px;
    height: auto;
    background-color: white;
    list-style: none;
    position: absolute;
    box-shadow: 0 1px 2px rgb(193, 193, 193);
}

.thaotac li{
    display: flex;
    justify-content: left;
    width: 100%;
}

.thaotac li:hover {
    background-color: rgb(250, 250, 250);
}

.btndangky,
.btndangnhap {
    color: rgb(0, 0, 0);
    font-size: 16px;
    text-decoration: none;
    display: block;
    width: 100%;
    height: 100%;
    padding: 15px 30px 15px 15px;
    box-sizing: border-box;
}

.btndangxuat, .btndonhang , .btntaikhoan{
    text-decoration: none;
    color: black;
    border: 0;
    font-size: 16px;
    outline: 0;
    background-color: rgba(255, 255, 255, 0);
    cursor: pointer;
    width: 100%;
    height: 100%;
    padding: 15px 30px 15px 15px;
    box-sizing: border-box;
}

.iconcart {
    position: relative;

}

.iconcart img {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(310deg) brightness(110%) contrast(102%);
    width: 30px;
}

.cartcount {
    position: absolute;
    top: -10px;
    right: -15px;
    width: fit-content;
    background-color: white;
    font-size: 14px;
    color: orangered;
    padding: 1px 5px;
    border-radius: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid orangered;

}

.head_container {
    width: 80%;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.user {
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 5px;
    height: 100%;
}

.user img {
    border-radius: 50%;
    width: 20px;
    height: 20px;
}

.btndangnhap{
    padding: 3px 6px;
    background-color: rgb(255, 255, 255);
    height: fit-content;
    border-radius: 2px;
    color: rgb(255, 0, 0);
}

.btndangxuat:hover, .btndonhang:hover, .btntaikhoan:hover{
    color: rgb(0, 205, 147);
}

.arrow {
    width: 0;
    height: 0;
    left: 50px;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid white;
    margin-left: 50px;
}

.dr_arrow {
    position: absolute;
    top: 50px;
    right: 50px;
    opacity: 0;
    transform: scale(0);
    transition: transform 0.3s ease, opacity 0.3s ease;
    transform-origin: top;
}

.hihi:hover .dr_arrow {
    transform: scale(1);
    opacity: 1;
}

.khoi_search{
    background-color: white;
    border-radius: 2px;
    display: flex;
    align-items: center;
}
.logo_link{
    display: flex;
    text-decoration: none;
    align-items: center;
    gap: 7px;
    color: white
}

.logo_link h1{
    font-weight: 100;
}

.input_search{
    outline: none;
    border: 0;
    height: 100%;
    min-width: 500px;
    padding: 10px;
    font-size: 16px;
    border-radius: 2px;
}

.input_search:focus{
    border-radius: 2px;
    border: 2px solid black;
}

.btn_search{
    height: 100%;
    background-color: orangered;
    border-radius: 2px;
    border: 0;
    padding: 5px 15px;
    box-sizing: border-box;
    margin: 3px;
    text-align: center;
    cursor: pointer;
}

.btn_search img{
    width: 70%;
    height: 70%;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(310deg) brightness(110%) contrast(102%);
}

@media only screen and (max-width: 719px){
    .head_container{
        width: 100%;
        padding: 0 7px;
    }
    .logo_link h1{
        display: none;
    }

    .input_search{
        min-width: 50px;
    }
    .hihi h5{
        display: none;
    }

    .iconcart img{
        width: 20px;
    }

    .cartcount {
    top: -7px;
    right: -10px;
    font-size: 10px;
}

.arrow {
    
}
}