.footer {
  background-color: #343434;
  color: #fff;
  padding-top: 40px;
  margin-top: 50px;
}

.footer-container {
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  padding: 0 20px 30px;
}

.footer-col h3,
.footer-col h4 {
  margin-bottom: 15px;
}

.footer-col p,
.footer-col li {
  font-size: 14px;
  color: #ccc;
  margin-bottom: 8px;
}

.footer-col ul {
  list-style: none;
  padding: 0;
}

.footer-col li:hover {
  color: #fff;
  cursor: pointer;
}

.footer-bottom {
  text-align: center;
  padding: 15px;
  border-top: 1px solid #333;
  font-size: 14px;
  color: #aaa;
}

@media only screen and (max-width: 719px){
  .footer-container{
    display: flex;
    flex-direction: column;
  }
}