.load {
    width: 100%;
    background-color: rgb(255, 255, 255);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.load_item {
    display: flex;
    gap: 10px;
}

.load_item span {
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background-color: rgb(255, 0, 0);
    display: inline-block;
    animation: bounce 1s infinite ease-in-out;
}

.load_item span:nth-child(2) {
    animation-delay: 0.2s;
}

.load_item span:nth-child(3) {
    animation-delay: 0.4s;
}

@keyframes bounce {

    0%,
    80%,
    100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-15px);
    }
}
