*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.user_container{
    width: 80%;
    display: flex;
    margin: 20px auto;
}

.nav_user{
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0);
    min-width: 200px;
    height: 100%;
    position: sticky;
    top: 100px;
}

.user.account, .user.purchase, .user.btndangxuat{
    margin-top: 10px;
    padding: 10px 20px;
    border-bottom: 0;
    background-color: rgba(255, 255, 255, 0);
    width: 100%;
    color: black;
    border-bottom: 1px solid #e9edef;
    font-size: 14px;
}

.user.account:hover, .user.purchase:hover, .user.btndangxuat:hover{
    background-color: #f1f1f1;
    border-radius: 10px;
}

.user.account.active, .user.purchase.active {
    color: rgb(0, 0, 0);          /* Chữ chuyển sang màu cam */
    background-color: #dce3e5; /* Thêm màu nền hồng cam nhạt cho đẹp */
    border-radius: 10px;
    
}

.user.btndangxuat{
    border-top: 0;
    border-left: 0;
    border-right: 0;
    color: black;
}