*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul{
    list-style: none;
}

.admin_container{
    display: flex;
    width: 100%;
    min-height: 100vh;
}

.dashboard_i {
    display: grid;
    grid-template-columns: repeat(4, minmax(220px, 1fr));
    gap: 24px;
    padding: 20px;
}

/*tRANG ORDER*/
.order-table {
    width: 100%;
    border-collapse: collapse;
    background: #fff;
    border-radius: 12px;
    overflow: hidden;
    font-family: Arial, sans-serif;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
}

.order-table th {
    background: #f5f7fa;
    text-align: left;
    padding: 12px;
    font-weight: 600;
    font-size: 14px;
    color: #333;
}

.order-table td {
    padding: 12px;
    border-top: 1px solid #eee;
    font-size: 14px;
    color: #444;
}

.order-table tr:hover {
    background: #f9fbfd;
    transition: 0.2s;
}

.order-code {
    font-weight: 600;
    color: #006eff;
}

.order-total {
    font-weight: 600;
    color: #28a745;
}

.status_admin {
    padding: 6px 10px;
    border-radius: 20px;
    font-size: 12px;
    font-weight: 600;
    display: inline-block;
}

/* Chờ xác nhận */
.status_admin-6 {
    background: #fff3cd;
    color: #856404;
}

/* Đã xác nhận */
.status_admin-7 {
    background: #d1ecf1;
    color: #0c5460;
}

/* Đang giao hàng */
.status_admin-8 {
    background: #cce5ff;
    color: #004085;
}

/* Hoàn thành */
.status_admin-9 {
    background: #d4edda;
    color: #155724;
}

/* Đã hủy */
.status_admin-10 {
    background: #f8d7da;
    color: #721c24;
}

/* Card tổng quan */
.card {
    background: #ffffff;
    border-radius: 14px;
    padding: 20px 22px;
    
    font-size: 14px;
    font-weight: 500;
    color: #2c2c2c;

    border: 1px solid #eaeaea;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.04);

    position: relative;
    overflow: hidden;

    transition: all 0.25s ease;
}

.btn-view {
    background: #17a2b8;
    color: white;
}

.btn-update {
    background: #ffc107;
}

.btn-delete {
    background: #dc3545;
    color: white;
}

/* Hover nhẹ cho cảm giác “xịn” */
.card:hover {
    transform: translateY(-4px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
}

.modalstatus{
    background-color: white;
}

/* Thanh nhấn bên trái */
.card::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 4px;
    background: #333;
    opacity: 0.8;
}

/* Số liệu nổi bật */
.card span {
    display: block;
    margin-top: 10px;
    font-size: 22px;
    font-weight: 600;
    color: #000;
}

.dashboard_item{
    background-color: rgb(246, 246, 246);
    text-decoration: none;
    display: block;
    width: 100%;
    box-sizing: border-box;
    color: black;
    padding: 10px;
    border-radius: 10px;
    transition: background-color 0.3s ease;
    border-bottom: 1px solid rgb(240, 240, 240);
    font-size: 14px;
    margin-top: 10px;
    font-weight: 400;
}

.dashboard_item:hover{
    background-color: #efefef;
}

.dashboard_item.active{
    background-color: #dce3e5;
    color: rgb(0, 0, 0);
    border-bottom: 0;
}

.dashboard{
    position: sticky;
    left: 0;
    background-color: rgb(249, 250, 251);
    padding: 10px;
    top: 0;
    
    width: 250px;
    background-color: rgb(246, 246, 246);
    height: 100%;
    transition: width 0.1s ease, opacity 0.1s ease;
}

.dashboard_title{
    height: 60px;
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: center;
}

.dashboard_item_list{
    white-space: nowrap;
    opacity: 1;
}

.dashboard_item_list.an{
    overflow: hidden;
    opacity: 0;
}

.dashboard.thunho{
    width: 60px;
    border-right: 1px solid rgb(233, 232, 232);
    background-color: white;
    min-height: 100vh;
}

.sidebar{
    width: 20px;
    cursor: ew-resize;
}

.sidebar:active+ .dashboard{
    width: 100px;
}

.link_logo_admin{
    margin-right: auto;
}

.link_logo_admin.anlogo{
    display: none;
}

.link_logo_admin:hover .logo_admin{
    border: 1px solid rgb(247, 227, 227);
    background-color: rgb(247, 227, 227);
}

.admin_main{
    flex: 1;
    background-color: white;
}

.admin_main_item{
    padding: 25px;
}

.header_admin{
    position: sticky;
    top:0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: white;
    width: 100%;
    height: 60px;
    box-shadow: 0 1px 2px rgb(222, 222, 222);
}

.product_table{
    border-collapse: separate;
    border-spacing: 0px;
    width: 100%;
    font-size: 14px;
    font-weight: 400;
}

.product_table td, .product_table th{
    border: 1px solid rgb(218, 218, 218);
    text-align: center;
}

.product_table th{
    padding:  5px;
    position: sticky;
    top: 60px;
    background-color: rgb(245, 245, 245);
    color: rgb(0, 0, 0);
  
}

.product_image_admin{
    width: 100px;
    aspect-ratio: 1/1;
    object-fit: cover;
}



.btnthem{
    background-color: rgb(0, 174, 0);
    color: white;
    border: 0;
    border-radius: 5px;
    padding: 10px;
    font-weight: 500;
    cursor: pointer;
}

.form_themsp{
    width: 500px;
    background: white;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.08);
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 40px auto;
}

.title_addproduct{
    text-align: center;
    margin-bottom: 20px;
    font-size: 22px;
}

.form_themsp label{
    font-weight: 600;
    font-size: 14px;
}

.form_themsp input,
.form_themsp select,
.form_themsp textarea{
    width: 100%;
    padding: 8px 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    outline: none;
    font-size: 14px;
    box-sizing: border-box;
}

.form_themsp textarea{
    min-height: 120px;
    resize: vertical;
}

.form_themsp input:focus,
.form_themsp select:focus,
.form_themsp textarea:focus{
    border-color: #00bcd4;
}

.btn_themsp_admin{
    margin-top: 10px;
    padding: 10px;
    border: none;
    background: #00bcd4;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    position: sticky;
    bottom: 0;
    font-weight: 600;
}

.btn_themsp_admin:hover{
    background: #0097a7;
}

.btn_huy{
    padding:8px 18px;
    border:none;
    background:#e5e7eb;
    color:#333;
    border-radius:6px;
    cursor:pointer;
    font-weight:500;
}

.btn_huy:hover{
    background:#d1d5db;
}

.btn_thembt{
    padding:8px 18px;
    border:none;
    background:#22c55e;
    color:white;
    border-radius:6px;
    cursor:pointer;
    font-weight:500;
}

.btn_thembt:hover{
    background:#16a34a;
}

/*Form edit product*/
.form_edit_product{
    width: 500px;
    margin: 40px auto;
    padding: 25px 30px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    font-family: Arial, sans-serif;
}

.form_edit_product h1{
    text-align: center;
    margin-bottom: 20px;
    font-size: 22px;
}

.form_edit_product label{
    font-weight: 600;
    font-size: 16px;
}

.form_edit_product input[type="text"],
.form_edit_product select,
.form_edit_product textarea{
    width: 100%;
    padding: 8px 10px;
    margin: 6px 0 14px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    font-size: 14px;
}

.form_edit_product textarea{
    height: 90px;
    resize: vertical;
    color: black;
    font-weight: bold;
}

.form_edit_product input:focus,
.form_edit_product select:focus,
.form_edit_product textarea:focus{
    border-color: #4CAF50;
}

.form_edit_product input[type="file"]{
    margin: 10px 0 15px 0;
}

.form_edit_product img{
    margin-top: 8px;
    margin-bottom: 10px;
    border-radius: 6px;
    border: 1px solid #ddd;
}

.form_edit_product button{
    width: 100%;
    padding: 10px;
    border: none;
    background: #4CAF50;
    color: white;
    font-size: 15px;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.2s;
    position: sticky;
    bottom: 0;
}

.form_edit_product button:hover{
    background: #43a047;
}

/*
.action_btn{
    display: flex;
    gap: 8px;
    justify-content: center;
}

.btn_edit,
.btn_delete{
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    font-size: 13px;
    cursor: pointer;
    transition: 0.2s;
}

.btn_edit{
    background: #2196f3;
    color: white;
}

.btn_edit:hover{
    background: #1976d2;
}

.btn_delete{
    margin-left: 10px;
    background: #f44336;
    color: white;
}

.btn_delete:hover{
    background: #d32f2f;
}

*/
.modal_container{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.338);
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal{
    background-color: white;
    padding: 0 20px 20px 20px;
    border-radius: 5px;
    box-shadow: 0 1px 2px rgb(193, 32, 32);
}

.charts_list{
    padding: 0 20px;
}